<div fxLayoutAlign="center center">
  <mat-card class="matMainCard">
    <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
      <mat-card fxFlex="25%" class="matCard">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Vijay</mat-card-title>
          <mat-card-subtitle>Uploded on: {{date}}/{{month}}/{{year}}</mat-card-subtitle>
          <div fxFlex></div>
          <mat-chip-list>
            <mat-chip>
              <b>IDEA</b>
            </mat-chip>
          </mat-chip-list>
        </mat-card-header>
        <mat-card-content fxFlex fxLayout="column">
          <h1>I can't access my subscription?I can't access my subscription? I can't access my subscription?</h1>
        </mat-card-content>
        <mat-card-actions>
          <div fxLayout="row" fxLayoutGap="40px">
            <button mat-icon-button color="accent">
              <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
              <span> 200</span>
            </button>
            <button mat-icon-button color="accent">
              <mat-icon aria-label="Example icon-button with a heart icon">question_answer</mat-icon>
              <span> 500</span>
            </button>
            <button mat-icon-button color="accent">
              <mat-icon aria-label="Example icon-button with a heart icon">share</mat-icon>
              <span> 5</span>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
      <mat-card fxFlex="25%" class="matCard">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Vijay</mat-card-title>
          <mat-card-subtitle>Uploded on: {{date}}/{{month}}/{{year}}</mat-card-subtitle>
          <div fxFlex></div>
          <mat-chip-list>
            <mat-chip>
              <b>IDEA</b>
            </mat-chip>
          </mat-chip-list>
        </mat-card-header>
        <mat-card-content fxFlex fxLayout="column">
          <h1>I can't access my subscription?I can't access my subscription? I can't access my subscription?</h1>
        </mat-card-content>
        <mat-card-actions>
          <div fxLayout="row" fxLayoutGap="40px">
            <button mat-icon-button color="accent">
              <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
              <span> 200</span>
            </button>
            <button mat-icon-button color="accent">
              <mat-icon aria-label="Example icon-button with a heart icon">question_answer</mat-icon>
              <span> 500</span>
            </button>
            <button mat-icon-button color="accent">
              <mat-icon aria-label="Example icon-button with a heart icon">share</mat-icon>
              <span> 5</span>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
      <mat-card fxFlex="25%" class="matCard">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Vijay</mat-card-title>
          <mat-card-subtitle>Uploded on: {{date}}/{{month}}/{{year}}</mat-card-subtitle>
          <div fxFlex></div>
          <mat-chip-list>
            <mat-chip>
              <b>IDEA</b>
            </mat-chip>
          </mat-chip-list>
        </mat-card-header>
        <mat-card-content fxFlex fxLayout="column">
          <h1>I can't access my subscription?I can't access my subscription? I can't access my subscription?</h1>
        </mat-card-content>
        <mat-card-actions>
          <div fxLayout="row" fxLayoutGap="40px">
            <button mat-icon-button color="accent">
              <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
              <span> 200</span>
            </button>
            <button mat-icon-button color="accent">
              <mat-icon aria-label="Example icon-button with a heart icon">question_answer</mat-icon>
              <span> 500</span>
            </button>
            <button mat-icon-button color="accent">
              <mat-icon aria-label="Example icon-button with a heart icon">share</mat-icon>
              <span> 5</span>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
      <mat-card fxFlex="25%" class="matCard">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Vijay</mat-card-title>
          <mat-card-subtitle>Uploded on: {{date}}/{{month}}/{{year}}</mat-card-subtitle>
          <div fxFlex></div>
          <mat-chip-list>
            <mat-chip>
              <b>IDEA</b>
            </mat-chip>
          </mat-chip-list>
        </mat-card-header>
        <mat-card-content fxFlex fxLayout="column">
          <h1>I can't access my subscription?I can't access my subscription? I can't access my subscription?</h1>
        </mat-card-content>
        <mat-card-actions>
          <div fxLayout="row" fxLayoutGap="40px">
            <button mat-icon-button color="accent">
              <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
              <span> 200</span>
            </button>
            <button mat-icon-button color="accent">
              <mat-icon aria-label="Example icon-button with a heart icon">question_answer</mat-icon>
              <span> 500</span>
            </button>
            <button mat-icon-button color="accent">
              <mat-icon aria-label="Example icon-button with a heart icon">share</mat-icon>
              <span> 5</span>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-card>
</div>
