.clip-circle {
    border-radius: 81px;
    border: 5px solid #747474;
  }
  .logo {
    text-align: center;
  }
  
  .matCard {
    background-color: #E0E0E0;
  }
  .matMainCard {
    width: 60%;
  }
  .example-header-image {
    background-image: url('../../../../assets/user2-160x160.jpg/');
    background-size: cover;
  }
  