<mat-tab-group>
  <mat-tab label="Hot">
    <div class="tab-content">
      <app-hot></app-hot>
      <div fxFlex="30%"></div>
    </div>
  </mat-tab>
  <mat-tab label="Your Discussions">
    <div class="tab-content">
      <app-yourdiscussions></app-yourdiscussions>
    </div>
  </mat-tab>
</mat-tab-group>


