.tab-content {
  padding: 20px;
}
mat-tab {
  width: 100%;
  /* margin-right: 50px; */
}

mat-tab-group {
  margin-top: 65px;
}
@media only screen and (max-width: 599px) {
  mat-tab-group {
    margin-top: 55px;
  }
}
