mat-sidenav {
  width: 250px;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  position: fixed;
  top: 65px;
  left: 0px;
}
@media only screen and (max-width: 599px) {
  mat-sidenav {
    position: fixed;
    top: 56px;
    left: 0px;
  }
}
