<app-header (toggleSidenav)="onToggle()"></app-header>
<div *ngIf="innerWidth >= 599px">
  <mat-sidenav-container autosize>
    <mat-sidenav #sideNav mode="side">
      <app-sidenav (closeSideNav)="sideNav.close()"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<div *ngIf="innerWidth < 599px">
  <mat-sidenav-container fxLayout="column" >
    <mat-sidenav #sideNav>
      <app-sidenav (closeSideNav)="sideNav.close()"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
