.clip-circle {
  clip-path: circle(20px at center);
}

.sticky {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10;
  animation: moveIn 3s ease 0 1 normal both;
}

@keyframes moveIn  {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: scale(1.5);
    transform: translateY(100%);
  }
}





