<div >
  <!-- <mat-toolbar color="accent" fxLayout="row" fxLayoutAlign="center center" color="primary" [ngClass] = "{sticky: fixed}"> -->
  <mat-toolbar color="accent" fxLayout="row" fxLayoutAlign="center center" color="primary" class="sticky">
    <mat-toolbar-row>
      <span fxLayoutAlign="start center">
        <img src="../assets/Maad Logo.png" alt="logo" width="50px">
      </span>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    <div fxFlex fxLayout fxLayoutAlign="flex-end">
      <td-notification-count color="primary" positionX="before" [notifications]="true">
        <img src="../assets/user2-160x160.jpg" class="clip-circle" width="40px" height="40px"   alt="" fxLayoutAlign="start center">
        </td-notification-count>
        <button class="overflow-visible" mat-icon-button [matMenuTriggerFor]="notificationsMenu">
          <td-notification-count [notifications]="101">
            <mat-icon>notifications</mat-icon>
          </td-notification-count>
        </button>
        <mat-menu #notificationsMenu="matMenu" [overlapTrigger]="false">
          <td-menu>
            <div td-menu-header class="mat-subheading-2 push-none">Notifications</div>
            <mat-nav-list dense>
              <ng-template let-last="last" ngFor [ngForOf]="[0,1,2,3,4,5,6,7,8,9]">
                <a mat-list-item>
                  <mat-icon matListAvatar>today</mat-icon>
                  <h4 matLine>
                    <span class="text-wrap">A user did an activity on an item that you've subscribed to follow actions on.</span>
                  </h4>
                  <p matLine>22 minutes ago</p>
                </a>
                <mat-divider *ngIf="!last"></mat-divider>
              </ng-template>
            </mat-nav-list>
            <button mat-button color="accent" td-menu-footer>
              See All Notifications
            </button>
          </td-menu>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="toolbarMenu1">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #toolbarMenu1="matMenu" [overlapTrigger]="false">
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>
          <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span>Sign out</span>
          </button>
        </mat-menu>
    </div>
    </mat-toolbar-row>
    </mat-toolbar>
</div>
