mat-card {
  width: 60%;
}
.matCard {

  height: 93vh;
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 30px;
}

.example-radio-button {
  margin: 5px;
}


