
    <section class="matCard" fxFlex fxLayout="row" fxLayoutAlign="center center">
        <mat-card>
          <mat-card-title>
            Create Discussion
          </mat-card-title>
          <mat-card-content>
            <form [formGroup]="createGroup" (ngSubmit)="onSubmit()">
              <h4>Select Room For Your Discussion</h4>
              <mat-radio-group class="example-radio-group" formControlName="room">
                <mat-radio-button class="example-radio-button" *ngFor="let room of rooms" [value]="room">
                  {{room}}
                </mat-radio-button>
              </mat-radio-group>
              <div fxFlex fxLayout="column" fxLayoutGap="10px">
                <h4>Give Discussion Title</h4>
                <mat-form-field>
                  <input matInput placeholder="Discussion Title" formControlName="discussionTitle">
                </mat-form-field>
                <h4>Give Description</h4>
                <mat-form-field>
                  <textarea matInput placeholder="Description" formControlName="description"></textarea>
                </mat-form-field>
              </div>
              <div>
                <button mat-button type="submit" color="accent">Create</button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </section>
