<div fxFlex="100%" fxLayout="column" fxLayoutAlign="center center">
  <div class="image">
    <img src="../../../assets/user2-160x160.jpg" class="clip-circle" width="125px" height="125px" alt="">
  </div>
  <h3>Vijay</h3>
</div>
<mat-nav-list>
  <a mat-list-item [routerLink]="['/']" (click)="onClose()">
    <mat-icon>whatshot</mat-icon>
    <span class="nav-caption">Trending</span>
  </a>
</mat-nav-list>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon style="color: #707070;margin-right : 10px;">home</mat-icon>Rooms
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']" (click)="onClose()">
        <mat-icon>lightbulb_outline</mat-icon>
        <span class="nav-caption">Idea</span>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']" (click)="onClose()">
        <mat-icon>usb</mat-icon>
        <span class="nav-caption">Technical</span>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']" (click)="onClose()">
        <mat-icon>poll</mat-icon>
        <span class="nav-caption">Leaderboard</span>
      </a>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>
