a {
  color: white;
  text-decoration: none;
}

span {
  text-align: center;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-item {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

.image {
  margin-top: 10px;
}
.clip-circle {
  /* clip-path: circle(64px  at center); */
  border-radius: 81px;
  border: 5px solid #747474;
}
.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: 0 3px 1px -2px transparent,0 2px 2px 0 transparent,0 1px 5px 0 transparent;
}
.mat-expansion-panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 15px;
}


