.discussion {
  height: 949px;
}

.main-card {
  margin-top: 80px;
  background-color: #FAFAFA;
  width: 70%;
  min-height: 120px;
}
.btn-submit {
  margin-top: 20px;
  margin-bottom: 20px;
}
.answer-card {
  margin-bottom: 20px;
  width: 1000px;
}

