<div class="discussion" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="40px">
  <mat-card fxLayout="Column" fxLayoutAlign="center center" class="main-card">
    <mat-card-title>
      I can't access my subscription?I can't access my subscription? I can't access my subscription?
    </mat-card-title>
    <mat-card-subtitle>
      <div fxFlex fxLayout="row" fxLayoutGap="40px">
        <button mat-icon-button (click)="onAnswer()">
          <mat-icon class="mat-18">question_answer</mat-icon>
          <span>Answer</span>
        </button>
        <button mat-icon-button (click)="onReport()">
          <mat-icon class="mat-18">report</mat-icon>
          <span>Report</span>
        </button>
        <div fxFlex></div>
      </div>
    </mat-card-subtitle>
  </mat-card>
  <div fxFlex *ngIf="answerMode">
    <form>
      <app-ngx-editor name="answer" [placeholder]="'Enter text here...'" [config]="config" [spellcheck]="true" [(ngModel)]="editorValue"></app-ngx-editor>
      <div fxLayout="column" fxLayoutAlign="center center" class = "btn-submit">
      <button mat-raised-button color="accent" type="button" (click)="onSubmit()">Submit</button>
      </div>
    </form>
  </div>
  <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="30px">
    <div *ngFor="let answer of answers">
      <mat-divider></mat-divider>
      <mat-card class="answer-card">
        <mat-card-content>
          <div [innerHTML]="answer">
            {{answer}}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
